# Prepare Data

In [57]:
import sqlite3
import pandas as pd

## Connect
connect to the nepal.sqlite database

In [58]:
%load_ext sql
%sql sqlite:///E:/Asya/database/nepal.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Explore

How many tables are in the nepal.sqlite database? What information do they hold?

In [59]:
%sql SELECT * FROM sqlite_master WHERE type='table';

 * sqlite:///E:/Asya/database/nepal.db
Done.

[('table', 'id_map', 'id_map', 36080, 'CREATE TABLE "id_map" (\n"ward_id" INTEGER,\n  "vdcmun_id" INTEGER,\n  "vdcmun_name" TEXT,\n  "district_id" INTEGER,\n  "district_name" TEXT\n)'),
 ('table', 'damage_grade', 'damage_grade', 36094, 'CREATE TABLE "damage_grade" (\n"building_id" INTEGER,\n  "district_id" INTEGER,\n  "vdcmun_id" INTEGER,\n  "ward_id" INTEGER,\n  "damage_overall_coll ... (2992 characters truncated) ... ndslide" INTEGER,\n  "has_geotechnical_risk_rock_fall" INTEGER,\n  "has_geotechnical_risk_flood" INTEGER,\n  "has_geotechnical_risk_other" INTEGER\n)'),
 ('table', 'household_demographics', 'household_demographics', 90447, 'CREATE TABLE "household_demographics" (\n"household_id" INTEGER,\n  "district_id" INTEGER,\n  "vdcmun_id" INTEGER,\n  "ward_id" INTEGER,\n  "gender_h ... (80 characters truncated) ...  "education_level_household_head" TEXT,\n  "income_level_household" TEXT,\n  "size_household" REAL,\n  "is_bank_account_present_in_household" REAL\n)'),
 ('table', 'building_structure', 'building_structure', 2, 'CREATE TABLE "building_structure" (\n"building_id" INTEGER,\n  "district_id" INTEGER,\n  "vdcmun_id" INTEGER,\n  "ward_id" INTEGER,\n  "count_floors_ ... (793 characters truncated) ... s_superstructure_rc_engineered" INTEGER,\n  "has_superstructure_other" INTEGER,\n  "condition_post_eq" TEXT,\n  "technical_solution_proposed" TEXT\n)')]

Get the columns names

In [60]:
%%sql

SELECT name
FROM sqlite_master
WHERE type="table"

 * sqlite:///E:/Asya/database/nepal.db
Done.

[('id_map',),
 ('damage_grade',),
 ('household_demographics',),
 ('building_structure',)]

How is the data organized? What type of observation does each row represent?

### id_map table

Select all columns from the id_map table,limit  results to the first five rows

In [61]:
%%sql
SELECT *
FROM id_map
LIMIT 5

 * sqlite:///E:/Asya/database/nepal.db
Done.

[(120101, 1201, 'Champadevi Rural Municipality', 12, 'Okhaldhunga'),
 (120102, 1201, 'Champadevi Rural Municipality', 12, 'Okhaldhunga'),
 (120103, 1201, 'Champadevi Rural Municipality', 12, 'Okhaldhunga'),
 (120104, 1201, 'Champadevi Rural Municipality', 12, 'Okhaldhunga'),
 (120105, 1201, 'Champadevi Rural Municipality', 12, 'Okhaldhunga')]

How many observations are in the id_map table?

In [62]:
%%sql

SELECT  COUNT(*) 
FROM id_map

 * sqlite:///E:/Asya/database/nepal.db
Done.

[(948,)]

What districts are represented in the id_map table?

In [63]:
%%sql
SELECT distinct(district_id)
FROM id_map

 * sqlite:///E:/Asya/database/nepal.db
Done.

[(12,), (20,), (21,), (22,), (23,), (24,), (28,), (29,), (30,), (31,), (36,)]

In [64]:
%%sql
SELECT distinct(district_name)
FROM id_map

 * sqlite:///E:/Asya/database/nepal.db
Done.

[('Okhaldhunga',),
 ('Sindhuli',),
 ('Ramechhap',),
 ('Dolakha',),
 ('Sindhupalchok',),
 ('Kavrepalanchok',),
 ('Nuwakot',),
 ('Rasuwa',),
 ('Dhading',),
 ('Makwanpur',),
 ('Gorkha',)]

We are interested in the Gorkha district

In [65]:
%%sql
SELECT *
FROM id_map
WHERE district_name="Gorkha"
LIMIT 5

 * sqlite:///E:/Asya/database/nepal.db
Done.

[(360101, 3601, 'Aarughat Rural Municipality', 36, 'Gorkha'),
 (360102, 3601, 'Aarughat Rural Municipality', 36, 'Gorkha'),
 (360103, 3601, 'Aarughat Rural Municipality', 36, 'Gorkha'),
 (360104, 3601, 'Aarughat Rural Municipality', 36, 'Gorkha'),
 (360105, 3601, 'Aarughat Rural Municipality', 36, 'Gorkha')]

The district id for Gorkha is 36. This info will help us later

In [66]:
%%sql
SELECT *
FROM id_map
WHERE district_id=36
LIMIT 5

 * sqlite:///E:/Asya/database/nepal.db
Done.

[(360101, 3601, 'Aarughat Rural Municipality', 36, 'Gorkha'),
 (360102, 3601, 'Aarughat Rural Municipality', 36, 'Gorkha'),
 (360103, 3601, 'Aarughat Rural Municipality', 36, 'Gorkha'),
 (360104, 3601, 'Aarughat Rural Municipality', 36, 'Gorkha'),
 (360105, 3601, 'Aarughat Rural Municipality', 36, 'Gorkha')]

For our model, we'll focus on Gorkha (district `36`)

How many observations in the id_map table come from Gorkha?

In [67]:
%%sql
SELECT COUNT(*)
FROM id_map
WHERE district_id=36
LIMIT 5

 * sqlite:///E:/Asya/database/nepal.db
Done.

[(94,)]

### building_structure table

 Select all the columns from the building_structure table, and limit  results to the first five rows.

In [68]:
%%sql
SELECT *
FROM building_structure
LIMIT 5

 * sqlite:///E:/Asya/database/nepal.db
Done.

[(120101000011, 12, 1207, 120703, 1, 1, 9, 288, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 'Damaged-Used in risk', 'Major repair'),
 (120101000021, 12, 1207, 120703, 1, 1, 15, 364, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 'Damaged-Repaired and used', 'Reconstruction'),
 (120101000031, 12, 1207, 120703, 1, 1, 20, 384, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Repaired and used', 'Minor repair'),
 (120101000041, 12, 1207, 120703, 1, 1, 20, 312, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Repaired and used', 'Minor repair'),
 (120101000051, 12, 1207, 120703, 1, 1, 30, 308, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Repaired and used', 'Minor repair')]

In [69]:
%%sql
SELECT *
FROM building_structure
WHERE ward_id=360101
LIMIT 5

 * sqlite:///E:/Asya/database/nepal.db
Done.

[(364205000011, 36, 3601, 360101, 2, 0, 67, 528, 13, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'Timber-Planck', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 'Damaged-Rubble clear', 'Reconstruction'),
 (364205000021, 36, 3601, 360101, 2, 0, 34, 500, 13, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'Timber-Planck', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 'Damaged-Rubble clear', 'Reconstruction'),
 (364205000031, 36, 3601, 360101, 2, 0, 5, 598, 13, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'Timber-Planck', 'Attached-1 side', 'Rectangular', 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 'Damaged-Rubble unclear', 'Reconstruction'),
 (364205000041, 36, 3601, 360101, 2, 0, 4, 520, 13, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'Timber-Planck', 'Attached-1 side', 'Rectangular', 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 'Damaged-Rubble unclear', 'Reconstruction'),
 (364205000051, 36, 3601, 360101, 2, 0, 4, 391, 14, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'Timber-Planck', 'Attached-2 side', 'Rectangular', 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 'Damaged-Rubble unclear', 'Reconstruction')]

How many building are there in the building_structure table?

In [70]:
%%sql
SELECT COUNT(*)
FROM building_structure

 * sqlite:///E:/Asya/database/nepal.db
Done.

[(762106,)]

There are over 700,000 buildings in the `building_structure` table, but how can we retrieve only buildings that are in Gorkha?

From the id_map table, We know that the Gorkha district_id is =36. So I will filter the table by district_id.

In [71]:
%%sql
SELECT *
FROM building_structure
WHERE district_id=36
LIMIT 5

 * sqlite:///E:/Asya/database/nepal.db
Done.

[(360106001171, 36, 3609, 360902, 2, 0, 4, 280, 18, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Rubble unclear', 'Reconstruction'),
 (360106001181, 36, 3609, 360902, 1, 0, 15, 120, 18, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Attached-1 side', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Rubble unclear', 'Reconstruction'),
 (360107000161, 36, 3609, 360902, 2, 0, 25, 300, 14, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Rubble unclear', 'Reconstruction'),
 (360107000381, 36, 3609, 360902, 2, 0, 22, 155, 16, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Rubble clear', 'Reconstruction'),
 (360202000691, 36, 3601, 360106, 2, 0, 20, 240, 14, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Heavy roof', 'Brick/Stone', 'TImber/Bamboo-Mud', 'Attached-1 side', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Rubble unclear', 'Reconstruction')]

How many observations in the building_structure table come from Gorkha?

In [73]:
%%sql
SELECT count(*)
FROM building_structure
WHERE district_id=36

 * sqlite:///E:/Asya/database/nepal.db
Done.

[(78074,)]

Now,we've a table with all the buildings in Gorkha, but the final piece of data needed for our model, the damage that each building sustained in the earthquake, is in the damage_grade table.Let's look at it.

### damage_grade

In [74]:
%sql PRAGMA table_info(damage_grade);

 * sqlite:///E:/Asya/database/nepal.db
Done.

[(0, 'building_id', 'INTEGER', 0, None, 0),
 (1, 'district_id', 'INTEGER', 0, None, 0),
 (2, 'vdcmun_id', 'INTEGER', 0, None, 0),
 (3, 'ward_id', 'INTEGER', 0, None, 0),
 (4, 'damage_overall_collapse', 'TEXT', 0, None, 0),
 (5, 'damage_overall_leaning', 'TEXT', 0, None, 0),
 (6, 'damage_overall_adjacent_building_risk', 'TEXT', 0, None, 0),
 (7, 'damage_foundation_severe', 'TEXT', 0, None, 0),
 (8, 'damage_foundation_moderate', 'TEXT', 0, None, 0),
 (9, 'damage_foundation_insignificant', 'TEXT', 0, None, 0),
 (10, 'damage_roof_severe', 'TEXT', 0, None, 0),
 (11, 'damage_roof_moderate', 'TEXT', 0, None, 0),
 (12, 'damage_roof_insignificant', 'TEXT', 0, None, 0),
 (13, 'damage_corner_separation_severe', 'TEXT', 0, None, 0),
 (14, 'damage_corner_separation_moderate', 'TEXT', 0, None, 0),
 (15, 'damage_corner_separation_insignificant', 'TEXT', 0, None, 0),
 (16, 'damage_diagonal_cracking_severe', 'TEXT', 0, None, 0),
 (17, 'damage_diagonal_cracking_moderate', 'TEXT', 0, None, 0),
 (18, 'damage_diagonal_cracking_insignificant', 'TEXT', 0, None, 0),
 (19, 'damage_in_plane_failure_severe', 'TEXT', 0, None, 0),
 (20, 'damage_in_plane_failure_moderate', 'TEXT', 0, None, 0),
 (21, 'damage_in_plane_failure_insignificant', 'TEXT', 0, None, 0),
 (22, 'damage_out_of_plane_failure_severe', 'TEXT', 0, None, 0),
 (23, 'damage_out_of_plane_failure_moderate', 'TEXT', 0, None, 0),
 (24, 'damage_out_of_plane_failure_insignificant', 'TEXT', 0, None, 0),
 (25, 'damage_out_of_plane_failure_walls_ncfr_severe', 'TEXT', 0, None, 0),
 (26, 'damage_out_of_plane_failure_walls_ncfr_moderate', 'TEXT', 0, None, 0),
 (27, 'damage_out_of_plane_failure_walls_ncfr_insignificant', 'TEXT', 0, None, 0),
 (28, 'damage_gable_failure_severe', 'TEXT', 0, None, 0),
 (29, 'damage_gable_failure_moderate', 'TEXT', 0, None, 0),
 (30, 'damage_gable_failure_insignificant', 'TEXT', 0, None, 0),
 (31, 'damage_delamination_failure_severe', 'TEXT', 0, None, 0),
 (32, 'damage_delamination_failure_moderate', 'TEXT', 0, None, 0),
 (33, 'damage_delamination_failure_insignificant', 'TEXT', 0, None, 0),
 (34, 'damage_column_failure_severe', 'TEXT', 0, None, 0),
 (35, 'damage_column_failure_moderate', 'TEXT', 0, None, 0),
 (36, 'damage_column_failure_insignificant', 'TEXT', 0, None, 0),
 (37, 'damage_beam_failure_severe', 'TEXT', 0, None, 0),
 (38, 'damage_beam_failure_moderate', 'TEXT', 0, None, 0),
 (39, 'damage_beam_failure_insignificant', 'TEXT', 0, None, 0),
 (40, 'damage_infill_partition_failure_severe', 'TEXT', 0, None, 0),
 (41, 'damage_infill_partition_failure_moderate', 'TEXT', 0, None, 0),
 (42, 'damage_infill_partition_failure_insignificant', 'TEXT', 0, None, 0),
 (43, 'damage_staircase_severe', 'TEXT', 0, None, 0),
 (44, 'damage_staircase_moderate', 'TEXT', 0, None, 0),
 (45, 'damage_staircase_insignificant', 'TEXT', 0, None, 0),
 (46, 'damage_parapet_severe', 'TEXT', 0, None, 0),
 (47, 'damage_parapet_moderate', 'TEXT', 0, None, 0),
 (48, 'damage_parapet_insignificant', 'TEXT', 0, None, 0),
 (49, 'damage_cladding_glazing_severe', 'TEXT', 0, None, 0),
 (50, 'damage_cladding_glazing_moderate', 'TEXT', 0, None, 0),
 (51, 'damage_cladding_glazing_insignificant', 'TEXT', 0, None, 0),
 (52, 'area_assesed', 'TEXT', 0, None, 0),
 (53, 'damage_grade', 'TEXT', 0, None, 0),
 (54, 'technical_solution_proposed', 'TEXT', 0, None, 0),
 (55, 'has_repair_started', 'REAL', 0, None, 0),
 (56, 'has_damage_foundation', 'REAL', 0, None, 0),
 (57, 'has_damage_roof', 'REAL', 0, None, 0),
 (58, 'has_damage_corner_separation', 'REAL', 0, None, 0),
 (59, 'has_damage_diagonal_cracking', 'REAL', 0, None, 0),
 (60, 'has_damage_in_plane_failure', 'REAL', 0, None, 0),
 (61, 'has_damage_out_of_plane_failure', 'REAL', 0, None, 0),
 (62, 'has_damage_out_of_plane_walls_ncfr_failure', 'REAL', 0, None, 0),
 (63, 'has_damage_gable_failure', 'REAL', 0, None, 0),
 (64, 'has_damage_delamination_failure', 'REAL', 0, None, 0),
 (65, 'has_damage_column_failure', 'REAL', 0, None, 0),
 (66, 'has_damage_beam_failure', 'REAL', 0, None, 0),
 (67, 'has_damage_infill_partition_failure', 'REAL', 0, None, 0),
 (68, 'has_damage_staircase', 'REAL', 0, None, 0),
 (69, 'has_damage_parapet', 'REAL', 0, None, 0),
 (70, 'has_damage_cladding_glazing', 'REAL', 0, None, 0),
 (71, 'has_geotechnical_risk', 'REAL', 0, None, 0),
 (72, 'has_geotechnical_risk_land_settlement', 'INTEGER', 0, None, 0),
 (73, 'has_geotechnical_risk_fault_crack', 'INTEGER', 0, None, 0),
 (74, 'has_geotechnical_risk_liquefaction', 'INTEGER', 0, None, 0),
 (75, 'has_geotechnical_risk_landslide', 'INTEGER', 0, None, 0),
 (76, 'has_geotechnical_risk_rock_fall', 'INTEGER', 0, None, 0),
 (77, 'has_geotechnical_risk_flood', 'INTEGER', 0, None, 0),
 (78, 'has_geotechnical_risk_other', 'INTEGER', 0, None, 0)]

I find the column we intersted in  damage_grade table which is   damage_grade column .

We can get the column we are interested in by joining the damage_grade table with the building_structure column but let's see what is the type of join we should use.

In [75]:
%%sql
SELECT *
FROM damage_grade
WHERE district_id=36
LIMIT 5

 * sqlite:///E:/Asya/database/nepal.db
Done.

[(360206000551, 36, 3601, 360106, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'Building removed', 'Grade 5', 'Reconstruction', 1.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.0, 0, 1, 0, 0, 0, 0, 0),
 (360206000561, 36, 3601, 360106, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'Both', 'Grade 5', 'Reconstruction', 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.0, 1, 0, 0, 0, 1, 0, 0),
 (360206000571, 36, 3601, 360106, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'Both', 'Grade 5', 'Reconstruction', 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.0, 0, 1, 0, 0, 0, 0, 0),
 (360206000581, 36, 3601, 360106, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'Both', 'Grade 5', 'Reconstruction', 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.0, 0, 1, 0, 0, 0, 0, 0),
 (360206000591, 36, 3601, 360106, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'Both', 'Grade 5', 'Reconstruction', 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.0, 1, 0, 0, 0, 1, 0, 0)]

In [76]:
%%sql
SELECT count(*)
FROM damage_grade
WHERE district_id=36
LIMIT 5

 * sqlite:///E:/Asya/database/nepal.db
Done.

[(78074,)]

 As I have two tables with the same number of rows and I want to combine the data based on matching rows, I can use an inner join.

### Inner join

In [82]:
%%sql
SELECT distinct(s.building_id) AS b_id,
s.*,d.damage_grade
FROM building_structure AS s
INNER JOIN damage_grade AS d ON s.building_id = d.building_id
WHERE s.district_id = 36
LIMIT 5

 * sqlite:///E:/Asya/database/nepal.db
Done.

[(360106001171, 360106001171, 36, 3609, 360902, 2, 0, 4, 280, 18, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Rubble unclear', 'Reconstruction', 'Grade 5'),
 (360106001181, 360106001181, 36, 3609, 360902, 1, 0, 15, 120, 18, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Attached-1 side', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Rubble unclear', 'Reconstruction', 'Grade 5'),
 (360107000161, 360107000161, 36, 3609, 360902, 2, 0, 25, 300, 14, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Rubble unclear', 'Reconstruction', 'Grade 5'),
 (360107000381, 360107000381, 36, 3609, 360902, 2, 0, 22, 155, 16, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Rubble clear', 'Reconstruction', 'Grade 5'),
 (360202000691, 360202000691, 36, 3601, 360106, 2, 0, 20, 240, 14, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Heavy roof', 'Brick/Stone', 'TImber/Bamboo-Mud', 'Attached-1 side', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Rubble unclear', 'Reconstruction', 'Grade 5')]

## Import

In [78]:
#connect to the database.
conn = sqlite3.connect("E:/Asya/database/nepal.db")

In [83]:
query = """
SELECT distinct(s.building_id) AS b_id,
s.*,d.damage_grade
FROM building_structure AS s
INNER JOIN damage_grade AS d ON s.building_id = d.building_id
WHERE s.district_id = 36
"""
print(query)

SELECT distinct(s.building_id) AS b_id,
s.*,d.damage_grade
FROM building_structure AS s
INNER JOIN damage_grade AS d ON s.building_id = d.building_id
WHERE s.district_id = 36

In [84]:
#Read SQL query into a DataFrame using pandas.
df = pd.read_sql(query,conn,index_col="b_id")

df.head()

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,count_floors_post_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,height_ft_post_eq,...,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,condition_post_eq,technical_solution_proposed,damage_grade
b_id,,,,,,,,,,,,,,,,,,,,,
360106001171,360106001171,36,3609,360902,2,0,4,280,18,0,...,0,0,0,0,0,0,0,Damaged-Rubble unclear,Reconstruction,Grade 5
360106001181,360106001181,36,3609,360902,1,0,15,120,18,0,...,0,0,0,0,0,0,0,Damaged-Rubble unclear,Reconstruction,Grade 5
360107000161,360107000161,36,3609,360902,2,0,25,300,14,0,...,0,0,0,0,0,0,0,Damaged-Rubble unclear,Reconstruction,Grade 5
360107000381,360107000381,36,3609,360902,2,0,22,155,16,0,...,0,0,0,0,0,0,0,Damaged-Rubble clear,Reconstruction,Grade 5
360202000691,360202000691,36,3601,360106,2,0,20,240,14,0,...,0,0,0,0,0,0,0,Damaged-Rubble unclear,Reconstruction,Grade 5

In [86]:
#Save the dataset
df.to_csv("E:/Asya/database/final_data/nepal_data.csv")